<!-- Views/Home/Index.cshtml -->

<div class="jumbotron text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p class="lead">Web sitemize hoş geldiniz. Daha fazla bilgi için <a href="/Contact">iletişim sayfamıza</a> göz atın.</p>
</div>


